body{
    font-family: “Verdana, Geneva, sans-serif”;
}

form label{
    display: inline-block;
    width: 25.5%;
    margin-bottom: 3%;
}

.cod-abrev-fecha-ruc-precio{
    width: 22.1%;
}

#nombre{
    width: 47%;
}

#categoria{
    width: 23%;
}

#color-de-etiqueta{
    width: 7%;
}

#foto{
    width: 27%;
}

#logo-img{
    height: 19%;
    width: 10%;
    margin-bottom: 0%;
}

textarea{
    width: 70%;
    height: 5%;
}

#grabar{
    margin-left: 35%;
}

button{
    margin-right: 8%;
    margin-top: 2%;
    margin-bottom: 2%;
}

fieldset{
    width: 37%;
}